{% extends 'PyqApp/layout.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages%}
           {{ message }}
        {% endfor%}
    {% endif %}
    <section class="hero">
        <div class="hero-content">
            <h1>AKTU Previous Years Papers</h1>
            <p>Find, Download, Bookmark previous year papers for all branches and subjects</p>
            <div class="search-box">
                <input type="text", id="search-box" name="search", placeholder="Search by subject code or subject name">
                <button>Search</button>
            </div>
            <p id="subtitle-blue">Data Structure  Mathematics  DBMS  Electronics  Computer Network</p>
            <div id="results"></div>
            <hr>
        </div>
    </section>
    <div class="home-grid">
        <section class="branch-section">
            <h2>Browse By Branch</h2>
            <div class="branch-grid">
                <a href="api/branch/cse" class="branch-card">
                    <button class="branch-btn">
                    CSE
                    <p>Computer Science</p>
                </button>
                </a>
                
                <a href="api/branch/me" class="branch-card">
                    <button class="branch-btn">
                    ME
                    <p>Mechanical Engg.</p>
                </button>
                </a>
                <a href="api/branch/it" class="branch-card">
                    <button class="branch-btn">
                    IT
                    <p>Information Tech</p>
                </button>
                </a>
                <a href="api/branch/ece" class="branch-card">
                    <button class="branch-btn">
                    ECE   
                    <p>Electronics</p>
                </button>
                </a>
                <a href="api/branch/ce" class="branch-card">
                    <button class="branch-btn">
                    CE 
                    <p>Civil Engg</p>
                </button>
                </a>
            </div>
    </section>
    <section class="recent-section">
            <h2>
                Recently uploaded papers
            </h2>
        <div class="recent-paper-list">
                {% for paper in recent_papers %}
                    
                        <a href="api/subjects/{{paper.subject.id}}" class="recent-paper-card">
                            <h3>
                                {{paper.subject.title}}
                            </h3>
                            <p>
                                {{ paper.year}}
                            </p>
                        </a>
                    
                {% endfor %}
            
        </div>
    </section>
    </div>
    

{% endblock %}
