{% extends 'PyqApp/auth_base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1> Register</h1>
    <form method="POST">
        {% csrf_token %}

        <p>Username</p>
        {{ form.username }}
        {{ form.username.errors }}

        <p>Email</p>
        {{ form.email }}
        {{ form.email.errors }}

        <p>Password</p>
        {{ form.password1 }}
        {{ form.password1.errors }}

        <p>Confirm password </p>
        {{ form.password2 }}
        {{ form.password2.errors }}

        <button type="submit">
            Register
        </button>
    </form>
    <a href="{% url 'login'%}">Login</a>
{% endblock %}