{% extends 'PyqApp/layout.html' %}

{% block title %}Subject_detail{% endblock %}

{% block content %}
{% if papers %}
    {% for paper in papers%}
       <div class="subject-section">
        <h3>{{ paper.subject.title }}</h3>
        <p><strong>
            Subject Code:
        </strong>
             {{ paper.subject.code }}
        </p>
        <p><strong>
            Branch :
        </strong>
             {{ paper.subject.branch }}
        </p>
        <p><strong>
            Semester :
        </strong>
             {{ paper.subject.semester }}
        </p>
        <p><strong>
            Year :
        </strong>
             {{ paper.year }}
        </p>
            <a class="download-btn" href="{{ paper.drive_link }}">🔷Download PDF🔷</a>
       </div> 
    <hr>
    {% endfor %}

{% else %}
       <p>No papers avaiable for selected branch</p>
{% endif %}

{% endblock %}